

/*#sidebar ul {margin:20px 0 0px 0; padding:0;}   */
.theLogo{height:360px;}
.theLogo1{height:100px;float:left;}

/* #wrap {width:1000px; margin:20px auto; padding:0;}    */




/* p {font-size:1.2em; margin:0 0 20px 0;}  */




/*p.slogan,h1,h2,h3,#sidebar li a {
    font-family:'DesignationRegular',
    Tahoma, sans-serif; letter-spacing:-1px;
    font-weight:400; text-shadow:1px 1px 4px #bbb;} */


