@(message: String)

@main("Welcome to Ling Hung's Webpage") {

    <div id="content">
        <div align="center" id="my_div">
            <img src="@routes.Assets.at("images/IMG_4707.jpg")" class="theLogo" />
        </div>
        <br>
        <p> I am a Ph.D. candidate in the <a href="http://www.ece.umd.edu/">Department of ECE</a> at <a href="http://www.umd.edu/">University of Maryland, College Park</a>. I am working under the supervision of <a href="http://www.cspl.umd.edu/kjrliu/">Prof. Isaak D. Mayergoyz</a> in the <a href="http://sig.umd.edu/">Magnetic Lab</a> at University of Maryland, College Park since 2009. I received M.S. and B.S. degrees in Electrical Engineering from <a href="http://www.ntu.edu.tw/">National Taiwan University</a>, Taipei, Taiwan.</p>
        <p> My PhD research interest focuses on plasmon resonances in metallic nanoparticles and their applications.</p>
    </div>

}
